<!DOCTYPE html>
<html lang="en">
<head>
	<title>raspirobot-web</title>	 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-switch.min.css') }}">
</head>

<body>
	<div class="container text-center" style="margin-top:10px;">
		<div class="row">
			<div class="col-md-1 col-xs-2"></div>
			<div class="col-md-2 col-xs-4">
				<button id="forward-button" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-4">
				<button id="left-button" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
			</div>
			<div class="col-md-2 col-xs-4">
				<button id="right-button" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-xs-2"></div>
			<div class="col-md-2 col-xs-4">
				<button id="reverse-button" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-2 col-xs-4">
				<input type="checkbox" id="led1-checkbox" data-label-text="LED1" class="output-switch">
			</div>
			<div class="col-md-2 col-xs-4">
				<input type="checkbox" id="led2-checkbox" data-label-text="LED2" class="output-switch">
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-2 col-xs-4">
				<input type="checkbox" id="oc1-checkbox" data-label-text="OC1" class="output-switch">
			</div>
			<div class="col-md-2 col-xs-4">
				<input type="checkbox" id="oc2-checkbox" data-label-text="OC2" class="output-switch">
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-2 col-xs-4">
				<button id="sw1-button" type="button" class="btn btn-default btn-lg input-switch">
					SW1
				</button>
			</div>
			<div class="col-md-2 col-xs-4">
				<button id="sw2-button" type="button" class="btn btn-default btn-lg input-switch">
					SW2
				</button>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap-switch.min.js') }}"></script>
	<script>

	var robotboard = (function () {
		return {
			forward: function() {
				$.getJSON( "forward");
			},
			reverse: function () {
				$.getJSON( "reverse");
			},
			right: function () {
				$.getJSON( "right");
			},
			left: function () {
				$.getJSON( "left");
			},
			stop: function() {
				$.getJSON( "stop");
			},
			outputSwitch: function(name, state) {
				$.ajax({
					type: 'POST',
					url: '/output/' + name,
					data: JSON.stringify( {
						'state': state
					}),
					contentType: "application/json",
					dataType: 'json'
				});
			},
			inputClosed: function(name) {
				$.getJSON( "input/" + name, function(data) {
					if (data['closed'])
						alert('Input ' + name + ' is closed');
					else
						alert('Input ' + name + ' is open');
				});
			},
		};
	})();

	$(document).ready(function() {
		// setup button click events
		$('#forward-button').click(robotboard.forward);
		$('#reverse-button').click(robotboard.reverse);
		$('#right-button').click(robotboard.right);
		$('#left-button').click(robotboard.left);
		$(".output-switch").bootstrapSwitch();
		$(".output-switch").on('switchChange.bootstrapSwitch', function(event, state) {
			action = $(this).data().labelText.toLowerCase();
			robotboard.outputSwitch(action, state);
		});
		$(".input-switch").click(function() {
			action = $(this).text().trim().toLowerCase();
			robotboard.inputClosed(action);
		});
	});
	</script>
</body>
</html>